
        body{
            background-color:powderblue;
        }

        h1 {
            color: #66bfbf;
          }

          h3 {
            color:indianred;
          }

        hr{
            border-style: dotted none none;
            border-color: grey;
            border-width: 5px;
            width: 4%;
        }

       